*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

body{
    background-image: url(../images/18410.jpg);
}


/* nav */
.logo-small{
    display: none;
}

.mobile{
    display: none;

}

.navbar{
    position: fixed;
    width: 100%;
    
}

nav{
    padding: 8px;
}

nav li{
    list-style: none;
    display: inline;
    padding-left: 2rem;
    font-size: 1.3rem;
}

nav li a{
    text-decoration: none;
    color: black;
}

nav li a:hover{
    color: rgb(119, 119, 119);
}


nav ul{
    padding-right: 4rem;
    margin: 0;
}



/* main card */

.laptop{
   background-image: url(../images/laptop\ image.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-position-x: center;
   background-position-y: center;
   width: 100%;
   height: 80vh;
   display: flex;
   align-items: center;
   padding-top: 2rem;
}

.welcome{
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem
}

.info-card{
    background-image: url(../images/4853433.png);
    background-size: cover;
    background-color: white;
    width: 30%;
    margin-left: 5rem;
    height: 25rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-card p{
    display: block;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 1.1rem;
}

/* My Story */
.my-story{
    width: 90%;
    margin: 5%;
    margin-bottom: 2rem;
    padding-top: 2rem;
    border-top: 1px solid rgb(148, 148, 148);
    color: black;
    display: flex;
    flex-direction: column;
}

.my-story-content{
    display: inline-flex;
}

.my-story h2{
    font-weight: 600;
    font-size: 2.5rem;
}

.my-story p{
    font-size: 1.3rem;
}

.my-skills{
    margin-left: 1rem;
    width: 80%;
    height: fit-content;
    background-color: rgba(190, 190, 190, 0.404);
    border-radius: 1rem;
    text-align: center;
}

.skills-img{
    display: flex;
    justify-content: space-evenly;
}

.my-skills h3{
    margin: 1rem 0rem;
}

.my-skills img{
    width: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}



/* Projects */

.projects{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.projects a{
    width: 40%;
    transition: width 0.3s, height 0.3s, border-radius 0.3s;
}

.projects a:hover{
    width: 43%;
    height: auto;
    border-radius: 3rem;
}

.project-thumbnail{
    border-radius: 1rem;
    width: 100%;
    margin: 1rem;
    box-shadow: 2px 7px 15px 5px rgba(0,0,0,0.19);
}

.my-projects{
    width: 90%;
    padding-top: 2rem;
    border-top: 1px solid rgb(148, 148, 148);
    color: black;
    display: flex;
    flex-direction: column;
}

.my-projects h2{
    font-weight: 600;
    font-size: 2.5rem;
}




/* responsiveness */
@media screen and (max-width: 1080px){
    .laptop{
        justify-content: center;
    }

    .desktop{
        position: fixed;
    }

    .info-card{
        width: 80%;
        margin: 0;
    }
    
}

@media screen and (max-width: 800px) {

    .desktop{
        display: none;
    
    }

    .mobile{
        display: flex;
        background-color: white;
    }

    .laptop{
        justify-content: center;
    }

    .info-card{
        width: 80%;
        margin: 0;
    }

    .my-story-content{
       display: block;
    }
    
    .my-skills{
        width: 100%;
        margin: 0;
    }

    .project-thumbnail{
        padding: 0;
        margin: 0;
    }

    .projects{
        align-items: center;
    }
    
    .projects a{
        margin-bottom: 2rem;
        width: 80%;
        
    }

    .projects a:hover{
        width: 83%;
    }

    .my-projects{
       width: 100%;
       text-align: center;
    }
}

@media screen and (max-width: 420px){
    .logo-full{
        display: none;
    }

    .logo-small{
        display: inline-flex;
    }

    .projects a{
        margin-bottom: 2rem;
        width: 80%;
    }

    .project-thumbnail{
        padding: 0;
        margin: 0;
    }

    .projects a:hover{
        width: 83%;
    }
    
}

@media screen and (max-height: 700px){
    .info-card{
        height: 80%;
        margin: 0;
        justify-content: baseline;
    }

    .laptop{
        padding-top: 5rem;
        align-items: center;
    }
    
}